<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lora:400i&display=swap" rel="stylesheet" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/logo/favicon.ico" />

  <style>
    body::-webkit-scrollbar {
      width: 12px;
    }

    body::-webkit-scrollbar-track {
      border-radius: 0px;
      background-color: #cb202d;
    }

    body::-webkit-scrollbar-thumb {
      border-radius: 0px;
      background-color: #282c35;
    }
  </style>
  <link rel="stylesheet" href="/css/{{assets}}.css">
  <title>{{title}}</title>
</head>

<body style="font-family: 'Lora', serif; font-size: 19px; line-height: 32px">
  <!-- Navbar Start-->
  <nav class="navbar navbar-dark" style="background-color: #cb202d">
    <a class="navbar-brand" href="{{logolink}}">
      <img src="/logo/logo.png" width="200" height="38" class="d-inline-block align-top" alt="" />
    </a>
    <div class="dropdown" style="font-family: 'Lato', sans-serif;">
      <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{navlink}}
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{navadd1}}">{{option1}}</a>
        <a class="dropdown-item" href="{{navadd2}}">{{option2}}</a>
      </div>
    </div>
  </nav>
  <!-- Navbar end -->

  <div class="">{{{body}}}</div>

  <!-- Footer start -->
  <footer class="footer mt-auto py-3 text-center" style="background-color: #282c35">
    <div class="container" style="font-family: 'Lato', sans-serif;">
      <span class="text-light">
        <i class="fa fa-copyright"></i> 2019 Copyright:
        <span style="color: #cb202d">200 OK!</span>
      </span>
    </div>
  </footer>
  <!-- Footer end -->

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/script/{{assets}}.js"></script>
</body>

</html>